.intro-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
}

.intro-section .intro-card {
  margin-bottom: 1em;
}

@media (min-width: 961px) {
  .intro-section .intro-card {
    width: calc(50% - 0.5em);
  }
}

.intro-card {
  border-radius: 10px;
  padding: 20px;
  background-color: var(--docs-light-bg);
  position: relative;
  overflow: hidden;
}

.intro-card:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
  transition: background 0.2s ease;
}

.intro-card:hover:after {
  background: rgba(0, 0, 0, 0.02);
}

:global(.dark) .intro-card:hover:after {
  background: rgba(255, 255, 255, 0.05);
}

.intro-card * {
  position: relative;
  z-index: 2;
}

:global(.dark) .intro-card {
  background-color: var(--docs-dark-bg);
}

.intro-card_title {
  font-size: 16px;
  margin: 5px 0px !important;
}

.intro-card_desc {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  opacity: 0.6;
}

.intro-card_icon {
  color: var(--docs-accent-color);
}
