:root {
  --color-sandpack-green: #90e86f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Sandpack theme SSR overrides */
.sp-wrapper {
  --sp-border-radius: 10px !important;

  --sp-colors-fg-active: var(--color-sandpack-green) !important;
  --sp-colors-fg-default: #5a5a5a !important;
  --sp-colors-fg-inactive: #1a1a1a !important;
  --sp-colors-bg-active: #272727 !important;
  --sp-colors-bg-default: #131313 !important;
  --sp-colors-bg-input: #2e2e2e !important;
  --sp-colors-accent: var(--color-sandpack-green) !important;
  --sp-colors-bg-error: #dac1fb !important;
  --sp-colors-fg-error: #b08df8 !important;
}

.sp-wrapper .sp-layout {
  border: 0;
}

.sp-pre-placeholder {
  --sp-colors-fg-active: #f0fdaf;
  display: block;
}
