/* 





.sp-button.sp-csb-icon-dark {
  color: var(--sp-colors-defaultBackground);
}

.sp-button.sp-csb-icon-dark:hover:not(:disabled) {
  background-color: var(--sp-colors-activeBackground);
  color: var(--sp-colors-activeBackground);
}

 */

.sp-loading {
  background-color: var(--sp-colors-defaultBackground);
  z-index: 5;
}

.sp-cube-wrapper {
  position: absolute;
  right: var(--sp-space-2);
  bottom: var(--sp-space-2);
  z-index: 4;
  width: 32px;
  height: 32px;
  background: var(--sp-colors-defaultBackground);
  border-radius: var(--sp-border-radius);
}

.sp-cube-wrapper .sp-cube {
  display: block;
}

.sp-cube-wrapper .sp-button {
  display: none;
}

.sp-cube-wrapper:hover .sp-button {
  display: block;
}

.sp-cube-wrapper:hover .sp-cube {
  display: none;
}

.sp-cube {
  transform: translate(-4px, 9px) scale(0.13, 0.13);
}

.sp-cube * {
  position: absolute;
  width: 96px;
  height: 96px;
}
.sp-cube .sp-sides * {
  border: 10px solid var(--sp-colors-defaultText);
  border-radius: 8px;
  background: #f8f9fbcf;
}

@keyframes sp-cube-rotate {
  0% {
    transform: rotateX(-25.5deg) rotateY(45deg);
  }

  100% {
    transform: rotateX(-25.5deg) rotateY(405deg);
  }
}

.sp-cube .sp-sides {
  animation: sp-cube-rotate 1s linear infinite;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  transform: rotateX(-25.5deg) rotateY(45deg);
}

.sp-cube .sp-sides .sp-top {
  transform: rotateX(90deg) translateZ(44px);
  transform-origin: 50% 50%;
}

.sp-cube .sp-sides .sp-bottom {
  transform: rotateX(-90deg) translateZ(44px);
  transform-origin: 50% 50%;
}

.sp-cube .sp-sides .sp-front {
  transform: rotateY(0deg) translateZ(44px);
  transform-origin: 50% 50%;
}

.sp-cube .sp-sides .sp-back {
  transform: rotateY(-180deg) translateZ(44px);
  transform-origin: 50% 50%;
}

.sp-cube .sp-sides .sp-left {
  transform: rotateY(-90deg) translateZ(44px);
  transform-origin: 50% 50%;
}

.sp-cube .sp-sides .sp-right {
  transform: rotateY(90deg) translateZ(44px);
  transform-origin: 50% 50%;
}

@keyframes sp-fade-in {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sp-devtools {
  height: var(--sp-layout-height);
  width: 100%;
}
