.color-slider-track-background,
.color-slider-track-color {
  width: 100%;
  border-radius: 4px;
  forced-color-adjust: none;
  position: relative;
}

.color-slider-track-background,
.color-slider-track-color {
  position: absolute;
  height: 100%;
}

.color-slider-thumb {
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
}

.color-slider-thumb .is-focused {
  width: 32px;
  height: 32px;
}

.color-slider-track-background,
.color-slider-thumb-background {
  background-size: 16px 16px;
  background-position: -2px -2px, -2px 6px, 6px -10px, -10px -2px;
  background-color: white;
  background-image: linear-gradient(
      -45deg,
      transparent 75.5%,
      rgb(188, 188, 188) 75.5%
    ),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}

.color-slider-thumb-background,
.color-slider-thumb-color {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.color-preview-swatch-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 16px 16px;
  background-position: -2px -2px, -2px 6px, 6px -10px, -10px -2px;
  background-color: white;
  background-image: linear-gradient(
      -45deg,
      transparent 75.5%,
      rgb(188, 188, 188) 75.5%
    ),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}

.color-preview-swatch-color {
  position: absolute;
  width: 100%;
  height: 100%;
}
.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-2 {
  top: 0.5rem;
}

.m-0 {
  margin: 0px;
}

.m-0\.5 {
  margin: 0.125rem;
}

.box-border {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.h-10 {
  height: 2.5rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-full {
  height: 100%;
}

.w-10 {
  width: 2.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-full {
  width: 100%;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\[forced-color-adjust\:none\] {
  forced-color-adjust: none;
}
