/* CODE */

.codeBlockContainer__-_-node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock-styles-module {
  border: solid 1px var(--ifm-toc-border-color);
}

code {
  border: none !important;
  background: transparent !important;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.token {
  &.function {
    color: var(--sandpack-secondary-color) !important;
  }

  &.string {
    color: var(--sandpack-primary-color) !important;
  }

  &.plain {
    color: var(--sandpack-primary-color) !important;
  }

  &.punctuation {
    color: var(--sandpack-text-secondary-color) !important;
  }

  &.keyword {
    color: var(--sandpack-tertiary-color) !important;
  }

  &.tag {
    &.punctuation {
      color: var(--sandpack-text-secondary-color) !important;
    }
    &.class-name {
      color: var(--sandpack-primary-color) !important;
    }
    &.attr-value {
      color: var(--sandpack-tertiary-color) !important;
    }
    &.attr-name {
      color: var(--sandpack-secondary-color) !important;
    }

    &.script {
      color: var(--sandpack-primary-color) !important;
      &.language-javascript {
        color: var(--sandpack-text-secondary-color) !important;
        &.operator {
          color: var(--sandpack-primary-color) !important;
        }
        &.string {
          color: var(--sandpack-tertiary-color) !important;
        }
      }
    }
  }
}

//

pre {
  background: #f8f9fb !important;
}

p {
  code {
    background: rgba(111, 236, 91, 0.4) !important;
    // border: solid 1px rgba(123, 236, 91, 0.2) !important;
    color: var(--sandpack-primary-color);
    padding: 3px 10px 4px;
    border-radius: 100px;
  }
}

// dark

html[data-theme="dark"] {
  .token {
    &.plain {
      color: var(--sandpack-primary-color) !important;
    }
    &.comment {
      color: var(--sandpack-text-secondary-color) !important;
    }
    &.tag {
      &.class-name {
        color: var(--sandpack-tertiary-color) !important;
      }

      &.attr-name {
        color: var(--sandpack-primary-color) !important;
      }
    }
  }

  //

  pre {
    background: #121212 !important;
  }

  p {
    code {
      background: rgba(123, 236, 91, 0.1) !important;
      // border: solid 1px rgba(123, 236, 91, 0.2) !important;
      color: var(--sandpack-primary-color);
      padding: 3px 10px 4px;
      border-radius: 100px;
    }
  }
}
