.footer {
  border-top: solid 1px var(--sandpack-border-color);
  display: none;
}

.footer--dark {
  --ifm-footer-background-color: transparent;
  --ifm-footer-color: var(--sandpack-text-color);
  --ifm-footer-link-color: var(--sandpack-text-color);
  --ifm-footer-title-color: var(--sandpack-text-color);
}

.footer__links {
  margin-bottom: 10rem;
}
