body {
  color: var(--sandpack-text-color);
  font-size: 18px;
}

hr {
  border: none;
  background: var(--sandpack-border-color);
  height: 1px;
}

@media (min-width: 961px) {
  main {
    border-left: 1px solid var(--sandpack-border-color) !important;
    position: relative;

    &:before {
      content: "";
      border-left: 1px solid var(--sandpack-border-color);
      height: 100px;
      width: 0;
      display: block;

      position: absolute;
      top: -100px;
      left: -1px;
    }
  }
}

aside {
  border: 0 !important;
}

.markdown img {
  border-radius: var(--sandpack-border-radius);
}
