body {
  color: var(--sandpack-text-color);
  font-size: 18px;
}

hr {
  border: none;
  background: var(--sandpack-border-color);
  height: 1px;
}

main {
  border-left: 1px solid var(--sandpack-border-color) !important;
}

aside {
  border: 0 !important;
}

.markdown img {
  border-radius: var(--sandpack-border-radius);
}
