body {
  font-size: 16px;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.05em;
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  @media (max-width: 640px) {
    --ifm-h2-vertical-rhythm-top: 1;
    --ifm-h3-vertical-rhythm-top: 2;

    h1 {
      margin-top: 0;
      font-size: 1.802rem;
    }

    h2 {
      font-size: 1.602rem;
    }

    h3 {
      font-size: 1.424rem;
    }

    h4 {
      font-size: 1.266rem;
    }

    h5 {
      font-size: 1.125rem;
    }
  }
}
