.intro-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;

  .intro-card {
    margin-bottom: 1em;

    @media (min-width: 961px) {
      width: calc(50% - 0.5em);
    }
  }
}

.intro-card {
  background: #151515;
  border-radius: 10px;
  padding: 20px;
  color: var(--sandpack-text-color);

  &:hover {
    color: var(--sandpack-text-color);
    text-decoration: none;

    .intro-card_link {
      color: var(--ifm-link-hover-color);
    }
  }

  .intro-card_title {
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0px;
  }

  .intro-card_desc {
    font-size: 14px;
    line-height: 1.4;

    margin: 5px 0px;

    color: #ffffff;
    opacity: 0.5;
  }

  .intro-card_link {
    font-size: 14px;
    line-height: 15px;

    color: #ffffff;
    margin-top: 10px;
  }
}
