.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

@media (min-width: 961px) {
  .navbar {
    width: var(--doc-sidebar-width);
    border-bottom: 0;
  }

  .navbar__brand {
    font-size: 18px;
    padding-left: 1rem;
  }
}
