name: CI
on: [pull_request, push]

jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v1

      - name: Setup | Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.16.1"

      - name: Setup | Install dependencies
        run: yarn install --frozen-lockfile

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn dev:react
          config: video=false

  test:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v1

      - name: Setup | Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.16.1"

      - name: Install dependencies and cache
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: true

      - name: Setup | Build
        run: yarn run build

      - name: Test | Jest
        run: yarn run test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v1

      - name: Setup | Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.16.1"

      - name: Install dependencies and cache
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: true

      - name: Lint | Eslint
        run: yarn run lint

  build:
    name: Build
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v1

      - name: Setup | Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.16.1"

      - name: Install dependencies and cache
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: true

      - name: Build
        run: yarn run build

  format:
    name: Format
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v1

      - name: Setup | Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.16.1"

      - name: Install dependencies and cache
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: true

      - name: Build
        run: yarn run format:check
